﻿@page
@model TwitterAPI.Pages.TwitterSettings
@{
    ViewData["Title"] = "Twitter settings";
    string authToken = Request.Query["oauth_token"].ToString();
    string authVerifier = Request.Query["oauth_verifier"].ToString();
    var backgroundImage = Model.TwitterUser != null ? Model.TwitterUser.UserImageUrl : "";
    var userName = Model.TwitterUser != null ? Model.TwitterUser.UserName : "";
    var userScreenName = Model.TwitterUser != null ? string.Concat("@", Model.TwitterUser.UserScreenName) : "";
}
<h4 class="text-left mt-4">@ViewData["Title"]</h4>
<script src="~/js/AccountTwitter.js" onload="activeMenuMyA();"></script>
<div class="row">
    <div class="col-md-12">

        @if (!string.IsNullOrWhiteSpace(userName))
        {
            <div class="mb-3">
                <img src="@backgroundImage" class="img_profileBig" />
            </div>
            <div>
                <label><strong>@userName</strong></label>
            </div>
            <div class="mb-5">
                <label class="edit_Photo">@userScreenName</label>
            </div>
        }
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12 text-left mt-4">
                    <div class="row">

                        <div class="col-md-12 text-left">
                            <div class="form-groupdaje s">
                                <button id="bstatusYT" type="submit" asp-page-handler="twittersignin" class="colorprof font_18"> Twitter Account Authentication</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12 text-left mt-4">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <input type="hidden" name="OAuthToken" value=@authToken />
                            <input type="hidden" name="OAuthVerifier" value=@authVerifier />
                            <div class="form-groupdaje s">
                                <button id="bstatusYT" type="submit" asp-page-handler="TweetUpdate" class="colorprof font_18"> Post Tweet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br><br><partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
